@import "../../utils";

.projectHead {
  width: 100%;
  height: 480px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  h2 {
    @include mainTitle;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.projectPage {
  padding: 160px 0 80px;

  .container {
    @include container;
  }

  .projectList {
    display: flex;
    flex-direction: column;
  }

  @include mobile {
    padding: 40px 0;
  }
}

.project {
  margin-bottom: 120px;
  gap: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:nth-child(2n) {
    flex-direction: row-reverse;

    @include mobile {
      flex-direction: column;
    }
  }

  .projectImg {
    border-radius: 8px;
    overflow: hidden;
    width: 50%;
    border: 1px solid #dddddd50;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 2px 12px rgb(0 0 0 / 20%);
    }

    @include mobile {
      width: 100%;
    }
  }

  .projectInfo {
    width: 50%;

    h5 {
      @include subMidTitle;
      margin: 0 0 40px;

      @include mobile {
        margin: 0 0 20px;
      }
    }

    p {
      @include subDesc;
      white-space: pre;
      word-break: keep-all;
    }

    @include mobile {
      width: 100%;
    }
  }

  .projectType {
    margin-bottom: 20px;
    display: flex;
    gap: 8px;

    small {
      display: inline-block;
      padding: 6px 12px;
      font-size: 18px;
      font-weight: 500;
      border-radius: 4px;
      background: $beige;
      color: $black;

      @include mobile {
        font-size: 15px;
      }
    }
  }

  .projectDirect {
    margin-top: 20px;
    display: flex;
    gap: 8px;

    a {
      @include button_more;
    }
  }

  @include mobile {
    flex-direction: column;
    gap: 20px;
  }
}
