@import "../../utils";

.container {
  @include container;

  img {
    width: 100%;
    height: 100%;
  }

  h3 {
    @include fontSize(45px);
    font-weight: 600;
    color: $color-title;
    margin-bottom: 60px;

    @include mobile {
      margin-bottom: 30px;
    }
  }
}

.projectPage {
  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      font-size: 20px;
      font-weight: 500;
      padding: 16px 24px;
      cursor: pointer;

      @include mobile {
        font-size: 16px;
        padding: 16px 8px;
      }

      &.active {
        font-weight: 700;
        color: #1b84ff;
      }
    }
  }

  .projectList {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      margin: 0;
    }
  }
}

.projectContent {
  position: relative;
  height: fit-content;
  color: #fff;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  height: 208px;

  @include mobile {
    height: auto;
    border-radius: 10px;
  }

  .projectDetail {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  small,
  span {
    font-size: 14px;
    font-weight: 500;
    white-space: pre;
    line-height: 22px;

    @include mobile {
      font-size: 12px;
    }
  }

  .projectTitle {
    h5 {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      display: flex;
      margin: 0;
      flex-direction: column;

      @include mobile {
        font-size: 18px;
      }
    }

    p {
      display: flex;
      gap: 12px;
      color: #a5b2c5;
    }
  }

  .projectDirect {
    display: flex;
    gap: 12px;

    a {
      font-size: 16px;
      font-weight: 500;
      color: #1b84ff;
      display: inline-block;

      @include mobile {
        font-size: 14px;
      }

      &::after {
        content: "→";
        display: inline-block;
      }
    }
  }

  &:hover {
    img {
      filter: brightness(0.4);
    }

    > div {
      opacity: 1;
    }
  }
}
