@import "../../utils";

.cardPage {
  height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &::after {
    content: "";
    display: inline-block;
    background-color: #6360f7;

    width: 200vw;
    height: 200vw;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.cardWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;

  max-width: 340px;
  padding: 0 20px;
  margin: 0 auto;
}

.cardList {
  position: relative;
  padding: 0;
  width: 275px;
  height: 350px;
  margin: 0;

  li {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transform-origin: top center;

    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid #eeeeee;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      content: "";
      display: inline-block;

      width: 10px;
      height: 10px;
      border: 1px solid red;

      position: absolute;
      top: 0;
      left: 30px;
    }

    p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    span {
      font-size: 12px;
      word-break: keep-all;
    }
  }
}

.cardBtn {
  margin-top: 50px;
  width: 275px;

  display: flex;
  gap: 10px;

  button {
    cursor: pointer;
    justify-content: center;
    width: 100%;

    background-color: #ddd;

    height: 40px;
    border-radius: 20px;

    font-size: 14px;
    font-weight: 500;

    &:last-child {
      background-color: #f65f88;
      color: #fff;
    }
  }
}

.cardSpeak {
  width: 10px;
  height: 10px;
  border: 1px solid red;

  position: absolute;
  bottom: 20px;
  right: 20px;
}
