@import '../../utils';

main {
    font-family: 'SUIT';    

    @include mobile{ 
        margin-top: 48px;
        overflow-x: hidden; 
    }    

    .container {
        width: 100%;
        max-width: 1140px;        
        margin: 0 auto;
        display: flex;        
        flex-direction: column;
        align-items: center;

        .mainImage {
            width: auto;
            height: 100vh;
        }
        
        .title {
            margin-top: 50px;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            -webkit-box-pack: start;
            justify-content: flex-start;

            .titleFont {
                color: #333;
                text-align: center;
            }
        }
    }
    
    .memberContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        .memberWrapper {
            max-width: 1140px;
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;     
            flex-wrap: wrap;   
            align-items: center;            
            justify-content: center;

            .imageWrapper {                
                margin-left: 30px;              
                margin-right: 30px;
                
                .hoverWrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .hoverWrapper > div  {
                    max-width: 350px;
                    position: relative;
                    perspective: 1000px;

                    img {
                        width: 100%;
                        margin: 0 auto;            
                        border-radius: 50%;                      
                        background-color: skyblue;
                    }     

                    .imageFront {
                        transition: transform 1s;
                        backface-visibility: hidden;
                        transform-style: preserve-3d;
                        transform: rotateY(0deg);
                    }

                    .imageBack {
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: -1;
                        transition: transform 1s;
                        transform-style: preserve-3d;
                    }      

                    figcaption {
                        background: rgba(0,0,0,0.4);
                        color: #F8F8FF;
                        padding: 10px;
                        text-align: center;
                        line-height: 1.5;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) translatez(100px);
                        width: 60%;
                        backface-visibility: hidden;
                    }
                }      
                
                .hoverWrapper:hover .imageFront {
                    transform: rotateY(180deg);
                }
                .hoverWrapper .imageBack {
                    transform: rotateY(-180deg);
                }
                .hoverWrapper:hover .imageBack {
                    transform: rotateY(0deg);
                }
            }              
            
            .infoWrapper {
                max-width: 700px;
                margin-left: 30px;              
                margin-right: 30px;
                
                .infoTitle {
                    text-align: center;
        
                    h2 {
                        color: skyblue;
                    }
                }
        
                .infoContentWrapper {
                    max-width: 1000px;            
                    text-align: center;
        
                    .infoImage {
                        width: 40px;
                        display: flex;
                    }
        
                    .infoContent {
                        display: block;
                        background-color: #e8e5e5;
                        margin-bottom: 20px;
                        padding: 0 125px;
                        font-size: 0.875em;
                        line-height: 2.1428;
                        color: #666;
                    }

                    .stackWrapper {
                        display: flex;
                        justify-content: space-between;

                        div {
                            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                            width: 50px;
                            height: 50px;
                            background-color: #e0efff;
                            border-radius: 10px;    
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }

                        img {
                            width: 80%;
                        }
                    }
                }
            }                  
        }
    }
}