@import "../../utils";

.memberPage {
  padding: 80px 0 100px 0;
  margin-top: 60px;

  .container {
    @include container;

    
  }

  h2 {
    @include subMidTitle;
    margin-bottom: 40px;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    gap: 24px;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  @include tablet {
    padding: 40px 0 36px;
  }
}

.memberInfo {
  padding: 32px 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  height: 460px;
  width: 580px;
  position: relative;

  &:last-child {
    margin-top: 125px;

    @include tablet {
      margin-top: 0;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 2px 12px rgb(0 0 0 / 20%);
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
  }

  p {
    @include subDesc;
    word-break: keep-all;
    white-space: pre-line;
  }

  .memberImg {
    top: -80px;
    right: -125px;
    position: absolute;
    width: 400px;
    height: 400px;

    @include tablet {
      width: 350px;
      height: 350px;
      position: initial;
      margin: 0 auto 20px;
    }
  }

  @include tablet {
    width: calc(100% - 40px);
    height: auto;
  }
}

.memberName {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  margin-bottom: 40px;

  h3 {
    @include subMidTitle;
  }

  small {
    @include button_more;
  }
}

.stackSwiper {
  margin-top: 20px;
  width: 100%;

  .stackSlide {
    width: auto;
    flex-shrink: 0;
    display: block;
    height: 100%;
    max-height: 100%;
  }

  figure {
    width: 50px;

    img {
      filter: grayscale(100%);
      transition: all 0.3s ease;

      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}

.contactPage {
  padding: 80px 0;

  .container {
    @include container;
    border-radius: 8px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url("../../../public/images/main/img_contact.jpg");

    @include tablet {
      width: calc(100% - 64px);
      padding: 32px 16px;
      height: auto;
    }
  }

  p {
    @include subSmallTitle;
    color: $black;
  }

  h3 {
    @include subBigTitle;
    color: $black;
    margin-bottom: 8px;
  }

  span {
    @include subDesc;
    margin-bottom: 16px;
    text-align: center;
  }

  a {
    @include button($green, $darkgreen, #fff);
  }

  @include mobile {
    padding: 30px 0;
  }
}
