@import "../../utils";

.mainPage {
  @include container;
  padding: 150px 0 200px 0;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 100px 0;
  }
}

.mainTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  @include mobile {
    gap: 24px;
    align-items: center;
  }

  h2 {
    @include fontSize(50px);
    font-weight: 700;

    @include mobile {
      text-align: center;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px 0 0 5px;
      background-color: #313334;
      border-radius: 50%;

      @include mobile {
        width: 5px;
        height: 5px;
      }
    }
  }

  a {
    background-color: #3182f6;
    color: #fff;
    padding: 18px 24px;
    @include fontSize(15px);
    font-weight: 600;
    line-height: 18px;
    border-radius: 7px;
    transition: all ease-in-out 0.25s;

    &:hover {
      color: #fff;
      background-color: #1b64da;
    }

    @include mobile {
      padding: 10px 20px;
    }
  }
}

.mainSwiper {
  width: 100%;
  margin-top: -250px;
  transform: translateX(40%);

  @include mobile {
    transform: none;
    margin-top: 0;
  }

  a {
    display: inline-block;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 12%);
    transition: all 0.3s ease;
    overflow: hidden;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 2px 12px rgb(0 0 0 / 20%);
    }

    @include mobile {
      margin: 5px;
      border-radius: 10px;
    }
  }

  .projectImg {
    height: 400px;

    @include mobile {
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .projectText {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      padding: 14px;
    }

    span {
      font-size: 22px;
      color: #313334;
      font-weight: 400;
      word-break: keep-all;
      white-space: pre-line;

      @include mobile {
        font-size: 14px;
      }
    }
  }

  .projectLogo {
    width: 300px;
    height: 100px;
    background-color: #ddd;

    @include mobile {
      width: 50px;
      height: 50px;
    }
  }
}
