@import "../../utils";

.container {
  @include container;
  padding: 80px 0 20px;
  margin: 60px auto;

  @include mobile {
    padding: 40px 0 20px;
  }

  h3 {
    @include mainTitle;
    margin-bottom: 24px;
  }

  h5 {
    @include subSmallTitle;
    word-break: keep-all;
    margin-bottom: 0;
  }

  button {
    @include button($beige, #0220470d, $black);
    margin: 20px auto 0;
    cursor: pointer;
  }

  section {
    @include subDesc;
    word-break: keep-all;
    display: none;

    ul {
      li {
        list-style: disc;
      }
    }

    &.open {
      display: block;
    }
  }
}
