@import "../../utils";

main {
  margin-top: 48px;
  font-family: "SUIT";

  @include mobile {
    overflow-x: hidden;
  }

  .container {
    width: 50%;
    margin: 0 auto;

    .title {
      display: block;
      padding: 48px 0px 24px;
      color: rgb(51, 61, 75);
      font-size: 32px;
      font-weight: 700;
    }

    .contentWrapper {
      background-color: #d3edff;
      margin-bottom: 48px;
      padding: 30px 40px;

      .appName {
        margin: 0 2px;
        font-weight: 500;
      }

      section {
        margin-bottom: 20px;
      }

      ul {
        margin: 0;
        padding: 1em;

        li {
          list-style: disc;
        }
      }
    }
  }
}
