$color-main: #4d3b2e;
$color-point: #837f38;
$color-back: #eae1da;
$color-title: #272400;
$color-desc: #494737;

/*변수*/
@mixin mobile {
  @media (max-width: 1024px) {
    @content;
  }
}

// 폰트 사이즈 계산 함수
@mixin fontSize($size) {
  font-size: $size;

  @include mobile {
    @if calc($size / 2) <= 10px {
      font-size: 13px;
    } @else {
      font-size: (calc($size / 2));
    }
  }
}

@mixin container {
  max-width: 1140px;
  padding: 200px 40px;
  margin: 0 auto;

  @include mobile {
    padding: 100px 20px;
  }
}
